<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ancun.yulualiyun" 
    android:versionCode="2013080117" 
    android:versionName="v2.1.8" >
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="17"/>

    <uses-permission android:name="com.aliyun.permission.TYID_SERVICE"/>
    <!-- 允许应用程序使用网络进行数据交换 -->
    <uses-permission android:name="android.permission.INTERNET"/>
	<!-- 允许程序访问Wi-Fi网络状态信息 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<!-- 允许应用程序访问设备网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许应用程序发送SMS消息 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 允许应用程序读取用户的联系人数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 允许应用程序对用户联系人数据进行写入操作 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <!-- 允许应用程序不通过系统拔号界面而直接拔打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 允许应用程序监视、更改或者中止拔出的电话 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 允许应用程序读取手机设置状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许应用程序对扩展存储设备（如SD卡）进行写入操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
    <!-- 允许应用程序更改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许应用程序使用设备的振动功能 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许应用程序获得最近或当前所运行的应用程序列表 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许应用程序使用TYPE_SYSTEM_ALERT类型方式打开窗口，此窗口显示于所有窗口之上 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许应用程序创建快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<!-- 启用错误分析功能，须添加该权限 -->
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<!-- 使用GPS获取用户精确定位信息 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
    <application 
        android:name=".AppContext" 
        android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name" 
        android:theme="@style/AppTheme" >
        
        <!-- 友盟统计 -->
        <meta-data android:name="UMENG_APPKEY" android:value="52707c2a56240b904805ff9e"/>
		<meta-data android:name="UMENG_CHANNEL" android:value="Aliyun Market"/>
		<!-- 百度统计 -->        
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="2ccd2d54e7" />
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="Aliyun Market" />
		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" />  -->
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<!-- 是否获取基站位置信息 -->
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
        
        <!-- 欢迎页 -->
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 激活服务页面 -->
        <activity
            android:name=".ActivationAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <!-- 引导页 -->
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <!-- 登录 -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 注册 -->
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 忘记密码 -->
        <activity
            android:name=".ForgetpwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        
        <!-- 录音搜索 -->
        <activity
            android:name=".SearchRecordedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Dialog_NoTitle" />
        
        <!-- 录音管理 -->
        <activity
            android:name=".RecordedManagerContentListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 录音详情备注 -->
        <activity
            android:name=".RecordedRemark"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 申请提取码前 确认 -->
        <activity
            android:name=".RecordedAppealConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Dialog_NoTitle" />
        
        <!-- 申请提取码 -->
        <activity
            android:name=".RecordedAppealTaobaoExtractionCode"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 申办公证 -->
        <activity
            android:name=".RecordedAppealNotarySuccess"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 公证须知 -->
        <activity
            android:name=".RecordedAppealNotaryNotify"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 公证机构一览表 -->
        <activity
            android:name=".RecordedAppealNotaryList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 设置 -->
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 设置 关于我们 -->
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 设置 修改密码 -->
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 设置  意见反馈 -->
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <!-- 外部拔打电话 -->
        <activity
            android:name=".DialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Dialog_NoTitle" />
        
        <!-- 小帖士 -->
        <activity
            android:name=".TipActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
		<!-- 服务条款 -->        
        <activity
            android:name=".ServerClauseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        
        <!-- 我的账户 -->
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 网络检测 -->
        <receiver android:name=".NetCheckReceiver">
		    <intent-filter>
		           <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		    </intent-filter>
		</receiver>
		
        <!-- 电话监听广播 -->
        <!-- <receiver android:name=".PhoneReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver> -->
        
    </application>

</manifest>